{:paths ["." "deprecated" "leapfrog" "reference" "differential_leapfrog"]
 :deps {danlentz/clj-uuid {:mvn/version "0.2.5"}
        org.clojure/core.match {:mvn/version "1.1.0"}
        org.clojure/core.async {:mvn/version "1.8.741"}}
 :aliases {:differential-v3 {:main-opts ["-m" "deprecated.differential-v3"]}
           :differential-v5 {:main-opts ["-m" "deprecated.differential-v5"]}
           :test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests"]}
           :differential-dataflow-v1-test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests" "differential-dataflow-v1-test"]}
           :multiset-test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests" "differential-dataflow-multiset-test"]}
           :graph-test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests" "differential-dataflow-graph-test"]}
           :stream-ops-test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests" "differential-dataflow-stream-ops-test"]}
           :frontier-test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests" "differential-dataflow-frontier-test"]}
           :differential-leapfrog-test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests" "differential-leapfrog-test"]}
           :leapfrog-pure-test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests" "leapfrog-pure-test"]}
           :propagators-test
           {:extra-paths ["test"]
            :main-opts ["-m" "run-tests" "propagators-network-test"]}}}
