{:paths ["."]
 :aliases {:differential-v3 {:main-opts ["-m" "deprecated.differential-v3"]}
           :differential-v5 {:main-opts ["-m" "deprecated.differential-v5"]}
           :differential-dataflow-v1-test
           {:main-opts ["-m" "differential-dataflow.differential-dataflow-v1-test"]}}}
